* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(244, 245, 246);
}
.naslov {
    font-family: 'Roboto Slab', serif;
    background-color: red;
    font-size: 40px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
    color: black;
}
img {
    width: 100%;
}
.label {
    background-color: red;
    width: 70px;
}
.subtitle {
    background-color: red;
    width: 75px;
}
.first-letter {
    font-size: 30px;
}